/bhajan-server/node_modules
/bhajan-server/dist
/node_modules
/dist
dynamodb-local-metadata.json
/dynamo-db
/bhajan-user.txt
/.env
fakeMyKeyId_fakeRegion.db
/creds
web/audio/khki-asdasd.mp3
/web/audio
/web/review
